.main-container {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  overflow: hidden;
  overflow-y: scroll;
}
